.clp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  background-color: bisque;
  position: relative;
}
.clp-hd{
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}
.clp input{
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
  width: 40%;
  border-radius: 20px;
 }
.clp img{
 position: absolute;
 width: 10%;
 left: 15px;
} 
.clp button{
  margin-top: 0px;
}
.course-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* gap: 40px; */
}

.course-card {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  padding: 16px;
  transition: transform 0.2s;
  margin: 20px;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.course-details h2 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.course-details p {
  font-size: 1rem;
  color: #555;
 
}

button {
  background-color: #7A2A23;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .course-card {
    width: 100%;
  }
  .clp-hd{
    text-align: center;
    font-size: 30px;
    }
  .clp img{
    display: none;
   } 
   .clp input{
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
   }
   
}

/* for course details page */


.course-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.course-details h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.course-details h2 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.course-details p {
  font-size: 1.1rem;
  margin: 10px 0;
  color: #333;
}

.course-details ul {
  list-style-type: none;
  padding: 0;
}

.course-details li {
  margin: 10px 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .course-details-container {
    padding: 10px;
    background-color: bisque;
  }
  .course-details h1 {
    font-size: 1.5rem;
  }
  .course-details h2 {
    font-size: 1.2rem;
  }
  .course-details p {
    font-size: 1rem;
  }
  .sd-head{
    display: flex;
    border: 2px solid lightgray;
    padding: 7px;
    margin-top: 0px;
    background-color: bisque;
  }
  .sd-hd{
    text-align: center;
    font-size: 20px;
   }
}
.sd-head{
  display: flex;
  border: 2px solid lightgray;
  padding: 20px;
  margin-top: 0px;
  background-color: bisque;
}
.sd-hd{
  text-align: center;
  
 }
.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: 15px;
} 
.sd-p{
  text-align: center;
  color: red;
}